{
  "extends": ["eslint-config-ali/typescript/react"],
  "ignorePatterns": [
    "**/dist/**/*",
    "**/lib/**/*",
    "**/node_modules/**/*",
    "scripts/**/*"
  ],
  "rules": {
    "prefer-destructuring": "off"
  }
}
